﻿@model Jual_Beli.Models.AbsenCoy

@{
    ViewData["Title"] = "FormAbsen";
}


<html>
    <h1>Absen Guys</h1>
    <body>
    @using (Html.BeginForm())
    {
        <p>Nama : @Html.TextBoxFor(x => x.nama) @Html.ValidationMessageFor(x => x.nama)</p>
        <p>Email : @Html.TextBoxFor(x => x.email) @Html.ValidationMessageFor(x => x.email)</p>
        <p>No HP : @Html.TextBoxFor(x => x.nomorhp) @Html.ValidationMessageFor(x => x.nomorhp)</p>
        <p>Tanggal : @Html.TextBoxFor(x => x.waktu, "{0:dd/MM/yyyy}") @Html.ValidationMessageFor(x => x.waktu)</p>
        <p>
           Konfirmasi Kehadiran : 
           @Html.DropDownListFor(x => x.konfirmasi, new[]{
               new SelectListItem(){Text = "Hadir", Value = bool.TrueString},
               new SelectListItem(){Text = "Tidak Hadir", Value = bool.FalseString}
        }, "Silahkan Pilih") @Html.ValidationMessageFor(x => x.konfirmasi)
        </p>
        <input type="submit" value="Submit">
    }

    </body>
</html> 


























@*<h1>FormAbsen</h1>

<h4>AbsenCoy</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="FormAbsen">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nama" class="control-label"></label>
                <input asp-for="nama" class="form-control" />
                <span asp-validation-for="nama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nomorhp" class="control-label"></label>
                <input asp-for="nomorhp" class="form-control" />
                <span asp-validation-for="nomorhp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="waktu" class="control-label"></label>
                <input asp-for="waktu" class="form-control" />
                <span asp-validation-for="waktu" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="konfirmasi" /> @Html.DisplayNameFor(model => model.konfirmasi)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
