﻿@{
    ViewData["Title"] = "Home Page";
}

<html>
    <body>
        <div>
            <h1>Selamat Datang di Website MVC Saya</h1>
            @ViewBag.Pesan <br />
            <br />
            <br />
            @Html.ActionLink("Absen dulu","FormAbsen")
        </div> 
    </body>
</html>
 